div#electron-rotate-loader {
	display: inline-block;
	vertical-align: middle;

	height: 60px;
	width: 60px;
	position: relative;
}

/*the stick which rotates*/ 
.stick {
	width: 10px;
	height: 66px;

	position: relative;
	left:25px;
	top:-3px;
}

/*the electron at the end of the stick*/
.electron {
	width: 6px;
	height: 6px;
	background: #4cacf7;
	border-radius: 6px;

	-webkit-box-shadow:0px 0px 2px 2px #c9e7fd;
	-moz-box-shadow:0px 0px 2px 2px #c9e7fd;
	box-shadow:0px 0px 2px 2px #c9e7fd;
	-o-box-shadow:0px 0px 2px 2px #c9e7fd;

	position: absolute;
	top:0px;
	right:0px;
}


/*shadows are being used for the tail*/
.electron-shadow {
	height: 0px;
	width: 0px;

	position: absolute;
	top: 3px;
	right: 6px;
	z-index: -99;
}

.dark-shadow {
	-webkit-box-shadow:0px 0px 4px 4px #d4ecfd;
	-moz-box-shadow:0px 0px 4px 4px #d4ecfd;
	box-shadow:0px 0px 4px 4px #d4ecfd;
	-o-box-shadow:0px 0px 4px 4px #d4ecfd;
}

.medium-shadow {
	-webkit-box-shadow:0px 0px 3px 3px #e3f3fe;
	-moz-box-shadow:0px 0px 3px 3px #e3f3fe;
	box-shadow:0px 0px 3px 3px #e3f3fe;
	-o-box-shadow:0px 0px 3px 3px #e3f3fe;

	right: 10px;
}

.light-shadow {
	-webkit-box-shadow:0px 0px 2px 2px #eaf4fc;
	-moz-box-shadow:0px 0px 2px 2px #eaf4fc;
	box-shadow:0px 0px 2px 2px #eaf4fc;
	-o-box-shadow:0px 0px 2px 2px #eaf4fc;

	right: 13px;
}
