div#five-blinking-dots-loader {
  width:60px;
  height:60px;
  margin:auto;

  position:relative;

  display: inline-block;
  vertical-align: middle;

  text-align: center;
}

.dot {
  height: 2px;
  width: 2px;
  background: #fffda0;
  
  position: relative;

  -webkit-box-shadow: 0 0 7px 1px #fffdea;
  -moz-box-shadow: 0 0 7px 1px #fffdea;
  box-shadow: 0 0 7px 1px #fffdea;
  -o-box-shadow: 0 0 7px 1px #fffdea; 

  vertical-align: middle;
  display: inline-block;

  margin-right: 3px;
}

.dot.first {
  /*top: 30px;
  left: 20px; */
}

.dot.second {
  /*top: 30px;
  left: 25px;*/

  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
}

.dot.third {
  /*top: 30px;
  left: 30px;*/

  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
}

.dot.fourth {
  /*top: 30px;
  left: 35px;*/

  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
}

.dot.fifth {
  /*top: 30px;
  left: 40px;*/

  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
}
