div#halo-effect-circle-loader { 
  height: 60px;
  width: 60px;

  position: relative;
  margin:auto;

  display: inline-block;
  vertical-align: middle;
}

.circle {
  height: 60px;
  width:60px;
  border-radius:60px;
  margin: auto;
}


.shadow-circle {
  height: 70px;
  width: 70px;
  border-top: 5px solid #EB8100;
  border-radius: 70px;
  
  box-model: border-box;
  -webkit-box-model: border-box;
  -moz-box-model: border-box;
  
  opacity: 0.4;
    
  position: absolute;
  top:-5px;
  left:-5px;
}

