.circle {
  height: 60px;
  width:60px;
  border-radius:60px;
  margin: auto;
}


.shadow-circle {
  height: 64px;
  width: 64px;
  border-top: 6px solid #EB8100;
  border-radius: 64px;
  
  box-model: border-box;
  -webkit-box-model: border-box;
  -moz-box-model: border-box;
  
  opacity: 0.4;
    
  position: absolute;
  top:-5px;
  left:-2px;
}

