@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", sans-serif;
  color: #888;
  text-align: center;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.display-container {
  background: #FFF;
  border:10px solid #F1F1EF;
  padding: 10px;
}

.loader-container {
  position: relative;

  height: 200px;
  width: 100%;
  margin: auto;

  border: 1px solid #f3f3f3;
}

.ghost-element {
  display:inline-block;
  width:1px;
  height:100%;
  vertical-align:middle;
}


.loading-text {
  text-transform : uppercase;
  font-size:12px;
  width:60px;
  text-align:center;
  color: #888;

  position: absolute;
  top:24px;
  left:0px;
}

div#halo-effect-circle-loader { 
  height: 60px;
  width: 60px;

  position: relative;
  margin:auto;

  display: inline-block;
  vertical-align: middle;
}

.circle {
  height: 60px;
  width:60px;
  border-radius:60px;
  margin: auto;
}

.shadow-circle {
  height: 70px;
  width: 70px;
  border-top: 5px solid #EB8100;
  border-radius: 70px;
  
  opacity: 0.4;
    
  position: absolute;
  top:-5px;
  left:-5px;
}


.ani-halo {
  animation: halo 2s infinite; 
  -webkit-animation: halo 2s infinite; 
  -moz-animation: halo 2s infinite;   
}
@-webkit-keyframes halo {
 from, to {
    -webkit-box-shadow: 0 0 5px 3px transparent;
  }

  50% {
    -webkit-box-shadow: 0 0 5px 3px #d1d1d1;
    opacity: 0.8;
  }
}
@-moz-keyframes halo {
 from, to {
    box-shadow: 0 0 5px 3px transparent;
  }

  50% {
    box-shadow: 0 0 5px 3px #d1d1d1;
    opacity: 0.8;
  }
}


.ani-rotate {
  -webkit-animation: rotation 2s infinite;
  animation: rotation 2s infinite;
  -moz-animation: rotation 2s infinite;
}
@-webkit-keyframes rotation {
 from{
    -webkit-transform: rotate(0deg); 
     opacity:0;
  }
  
  50% {
    opacity:0.5;
  }

  100% {
    -webkit-transform: rotate(360deg);
    opacity:0;
  } 
}
@-moz-keyframes rotation {
 from{
    -moz-transform: rotate(0deg); 
     opacity: 0;
  }
  
  50% {
    opacity: 0.5;
  }

  100% {
    -moz-transform: rotate(360deg);
    opacity: 0;
  } 
}
